.color-sample {
  width: 20px;
  height: 20px;
  border: 2px solid currentColor;
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    white,
    white 10px,
    red 10px,
    red 13px,
    white 13px
  );
}
